/* Logo de freeCodeCamp */

.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  width: 400px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  /* Estilos específicos para pantallas de hasta 768px */
  .freecodecamp-logo {
      width: 250px;
      height: 30px; /* Tamaño de fuente más pequeño para móviles */
  }
}