h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

/* Listas de Tareas */

.tareas-lista-principal {
  width: 70vw;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

.tareas-lista-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  /* Estilos específicos para pantallas de hasta 768px */
  .tareas-lista-principal {
      width: 90vw;
  }
}